body {
  background:url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	position: fixed;
  top: 15%;
  left: 0px;
  width: 100%;
	background: rgba(255,255,255,.6);
  overflow: auto;
}

#img_cont {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  clear: both;
  margin-top: 20px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: italic;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.who {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: italic;
  text-align: right;
  padding-right: 5%;
}



/******************FADE IN ANIMATIONS******************/

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;   this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in.two {
  -webkit-animation-delay: 3s;
  -moz-animation-delay:3s;
  animation-delay: 3s;
}

.fade-in.three {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

/****************** /END/ FADE IN ANIMATIONS /END/******************/